<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="form-group col-xs-12 col-md-4">
      <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="form-group col-xs-12 col-md-4">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      <span class="help-block">
        Leave blank if you don't want to change it.
        <% if @minimum_password_length %>
          <%= @minimum_password_length %> characters minimum.
        <% end %>
      </span>
    </div>

    <div class="row">
      <div class="form-group col-xs-12 col-md-4">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12 col-md-4">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      <span class="help-block">We need your current password to confirm your changes.</span>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn" %></p>

<%= link_to "Back", :back, class: "btn btn-default" %>
