<%= form_with(model: task, local: true) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, id: :task_name %>
  </div>

  <div class="form-group">
    <%= f.label :completed %>
    <%= f.check_box :completed, id: :task_completed %>
  </div>

  <div class="form-group">
    <%= f.label :public %>
    <%= f.check_box :public, id: :task_public %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <% cancel_path = (task.persisted? ? task_path(task) : tasks_path) %>
    <%= link_to "Cancel", cancel_path, class: "btn btn-default", data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
