<tr class="task">
  <td>
    <label id="<%= dom_id(task) %>" class="<%= task.completed? ? 'completed' : nil %>">
      <%= check_box_tag 'completed', task.id, task.completed,
          data: {
            remote: true,
            url: toggle_task_path(task),
            method: :post
          },
          style: "font-size: 300%"
      %>
      <%= task.name %>
    </label>
  </td>
  <td class="task-actions">
    <%= link_to task_path(task),
                class: "btn btn-xs btn-default" do %>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      Show
    <% end %>
    <%= link_to edit_task_path(task),
        class: "btn btn-xs btn-default" do %>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      Edit
    <% end %>
  </td>
</tr>
