<h2 class="heading">
  Tasks
  <%= link_to new_task_path, class: "btn btn-default btn-sm btn-inline" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add Task
  <% end %>
</h2>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th class="task-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <%= render @tasks %>
  </tbody>
</table>

<h2 class="heading">
  Public Tasks
</h2>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th class="task-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <%= render @public_tasks %>
  </tbody>
</table>






