<h2 class="heading">
  Task
</h2>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th class="task-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <%= render @task %>
  </tbody>
</table>

<p>
  Owner:
  <%= @task.owner.email %>
</p>

<hr class="divider">

<h2 class="heading">
  Subtasks
  <%= link_to new_task_subtask_path(@task), class: "btn btn-default btn-sm btn-inline" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Add Subtask
  <% end %>
</h2>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th class="task-actions">Actions</th>
  </tr>
  </thead>

  <tbody>
  <%= render @task.subtasks %>
  </tbody>
</table>



