<%= form_with(model: [subtask.task, subtask]) do |f| %>
  <% if subtask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subtask.errors.count, "error") %> prohibited this subtask from being saved:</h2>

      <ul>
      <% subtask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, id: :subtask_name %>
  </div>

  <div class="form-group">
    <%= f.label :completed %>
    <%= f.check_box :completed, id: :subtask_completed %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", subtask.task, class: "btn btn-default", data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
