<tr class="task">
  <td>
    <label id="<%= dom_id(subtask) %>" class="<%= subtask.completed? ? 'completed' : nil %>">
      <%= check_box_tag 'completed', subtask.id, subtask.completed,
          data: {
            remote: true,
            url: toggle_task_subtask_path(subtask.task, subtask),
            method: :post
          },
          style: "font-size: 300%"
      %>
      <%= subtask.name %>
    </label>
  </td>
  <td class="task-actions">
    <%= link_to edit_task_subtask_path(subtask.task, subtask),
        class: "btn btn-xs btn-default" do %>
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      Edit
    <% end %>
    <%= link_to [subtask.task, subtask], method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      Delete
    <% end %>
  </td>
</tr>
