<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subtask.name %>
</p>

<p>
  <strong>Task:</strong>
  <%= @subtask.task %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @subtask.completed %>
</p>


<%= link_to 'Edit', edit_task_subtask_path(@subtask) %> |
<%= link_to 'Back', task_subtasks_path %>
