@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.task-actions {
  text-align: right;
}

.completed {
  text-decoration: line-through;
}

.task {
  label {
    font-weight: normal;
  }
}

.btn-inline {
  display: inline-block;
  margin-left: 10px;
}

.heading {
  font-weight: normal;
}

.divider {
  margin: 40px 0;
}


